@import url("../bower_components/bootstrap/dist/css/bootstrap.min.css");
@import url("../bower_components/bootstrap/dist/css/bootstrap-theme.min.css");

@import url("chosen.css");
@import url("iCheck/skins/minimal/blue.css");

/* Put your CSS here */
html, body {
    margin: 20px;
}

body {
    background: #fafafa;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #333;
}
