@import "bootstrap/dist/css/bootstrap.min";
@import "bootstrap/dist/css/bootstrap-theme.min";

/* Put your CSS here */
html, body {
    margin: 20px;
}

body {
    background: #fafafa;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #333;
}
