<div class="row">
	<div class="col-lg-12">
		<h1>TimeSheets</h1>
		<h2 ng-show="showProjectHeadline">{{projectName}}, {{displayStartDate}} - {{displayEndDate}}</h2>
		<button ng-hide="hideForms" ng-click="hideForms = true" class="btn btn-primary btn-sm">{{ 'HIDE_FORMS' | translate }}</button>
		<button ng-show="hideForms" ng-click="hideForms = false" class="btn btn-primary btn-sm">{{ 'SHOW_FORMS' | translate }}</button>
	</div>
</div>
<hr>
<div class="row" ng-hide="hideForms">
	<div class="col-lg-12 well">
		<form role="form" ng-submit="login()">
			<div class="form-group">
				<label for="domain">{{ 'DOMAIN' | translate }}</label>
				<input type="text" class="form-control" id="domain" ng-model="domain" placeholder="{{ 'ENTER_DOMAIN' | translate }}">
			</div>
			<div class="form-group">
				<label for="apiKey">{{ 'API_KEY' | translate }}</label>
				<input type="text" class="form-control" id="apiKey" ng-model="apiKey" placeholder="{{ 'ENTER_API_KEY' | translate }}">
			</div>
			<button type="submit" class="btn btn-default">{{ 'LOGIN' | translate }}</button>
		</form>
	</div>
</div>
<div class="row" ng-hide="hideForms">
	<div class="col-lg-12 well">
		<form role="form" ng-submit="displayTimes()">
			<div class="form-group">
				<label for="project">{{ 'PROJECT' | translate }}</label>
				<select ui-select2 ng-model="project" data-placeholder="{{ 'SELECT_PROJECT' | translate }}">
				    <option ng-repeat="project in projects" value="{{project.key}}">{{project.value}}</option>
				</select>
			</div>
			<div class="form-group">
				<label for="startDate">{{ 'START_DATE' | translate }}</label>
				<input ng-model="startDate" type="date" id="startDate" value={{startDate}}>
			</div>
			<div class="form-group">
				<label for="endDate">{{ 'END_DATE' | translate }}</label>
				<input ng-model="endDate" type="date" id="endDate" value={{endDate}}>
			</div>
			<button type="submit" class="btn btn-default">{{ 'SUBMIT' | translate }}</button>
		</form>
	</div>
</div>
<div class="row">
	<div class="col-lg-12">
		<table class="table table-striped table-bordered table-hover">
			<thead>
				<tr>
					<th>{{ 'EMPLOYEE' | translate }}</th>
					<th>{{ 'DATE' | translate }}</th>
					<th>{{ 'HOURS' | translate }}</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="timeEntry in timeEntries">
					<td>{{timeEntry.userName}}</td>
					<td>{{timeEntry.date}}</td>
					<td>{{timeEntry.hours}}</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>
